@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Open+Sans&family=Poppins:wght@800&display=swap");
.light {
  --bg: #fff;
  --text-grey: #2D2C2C;
  --text-dark: #060606;
}

.dark {
  --bg: #060606;
  --text-grey: #BFBFBF;
  --text-dark: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', 'Open Sans', 'Inconsolata';
  background: var(--bg);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

a {
  font-family: 'Inconsolata';
  color: currentColor;
  text-decoration: none;
  color: var(--text-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
  color: var(--text-dark);
}

h1 {
  font-size: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(89.71deg, #FFCD5A 2.24%, #FF4D4D 39.97%, #9360FF 91.68%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(89.71deg, #FFCD5A 2.24%, #FF4D4D 39.97%, #9360FF 91.68%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5 {
  font-family: 'Inconsolata';
  color: var(--text-dark);
  font-size: 1.6rem;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  h5 {
    font-size: 1.2rem;
  }
}

p {
  font-family: 'Open Sans';
  font-size: 1.2rem;
  color: var(--text-grey);
}

.join-us {
  font-family: 'Inconsolata';
  font-size: 1.5rem;
  font-weight: 400;
  background: #060606;
  border: 1.5px solid #fff;
  border-radius: .35rem;
  padding: .5rem 2rem;
  color: #fff;
}

.fill {
  font-family: 'Inconsolata';
  font-size: 1.5rem;
  font-weight: 400;
  background: #fff;
  border: 1.5px solid #060606;
  border-radius: .35rem;
  padding: .5rem 2rem;
  color: #060606;
}

#landing {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing .header button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#contact .container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#contact .container-main div {
  padding: 50px;
}

#contact .container-main .img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  left: 40px;
  padding-left: 550px;
  width: 50%;
}

#contact .container-main .form-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 500px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .container-main .form {
  border: none;
}

#contact .container-main a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  border: 2px;
  border-color: #fff;
}

.info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-main h3 {
  font-size: 2.2rem;
}

.info-main .container-vis {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 50px;
  padding-left: 220px;
}

.info-main .container-info {
  padding-top: 45px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 280px;
}

.info-main .container-info .small-font {
  font-size: 1rem;
}

/*swiper implementation*/
.swiper-container {
  background-color: var(--bg);
  color: var(--text-dark);
  height: 500px;
  width: 85%;
}

.swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-family: sans-serif;
}

.swiper-container .swiper-slide img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

#meet-the-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#meet-the-team header {
  text-align: center;
}

#meet-the-team header h2 {
  margin: 0 auto;
}

#meet-the-team .team-carousel {
  width: 80%;
  padding: 1rem;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

@media only screen and (max-width: 700px) {
  #meet-the-team .team-carousel {
    width: 90%;
  }
}

#meet-the-team .team-carousel::-webkit-scrollbar {
  width: .75rem;
  height: .75rem;
}

#meet-the-team .team-carousel::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  border-radius: .5rem;
  -webkit-box-shadow: inset 2px 2px 2px #2d2c2c5d, inset 2px 2px 2px #5a5a5a5d;
          box-shadow: inset 2px 2px 2px #2d2c2c5d, inset 2px 2px 2px #5a5a5a5d;
}

#meet-the-team .team-carousel::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, right top, from(#060606));
  background: linear-gradient(90deg, #060606);
}

#meet-the-team .team-carousel .team-card {
  height: 425px;
  width: 300px;
  position: relative;
  border-radius: 1rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: -1rem 0 3rem #000000;
          box-shadow: -1rem 0 3rem #000000;
}

#meet-the-team .team-carousel .team-card:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

#meet-the-team .team-carousel .team-card:hover ~ .team-card {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

#meet-the-team .team-carousel .team-card:not(:first-child) {
  margin-left: -100px;
}

#meet-the-team .team-carousel .team-card img {
  height: 425px;
  width: 300px;
  border-radius: 1rem;
}

#meet-the-team .team-carousel .team-card .team-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#060606), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(360deg, #060606, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0px;
  border-radius: 1rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#meet-the-team .team-carousel .team-card .team-overlay header {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#meet-the-team .team-carousel .team-card .team-overlay header h3 {
  color: #fff;
}

#meet-the-team .team-carousel .team-card .team-overlay header small {
  color: #BFBFBF;
  font-family: "Open sans";
}

#meet-the-team .team-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

#meet-the-team .team-links button {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1100px) {
  #meet-the-team .team-links {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */