// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Open+Sans&family=Poppins:wght@800&display=swap');

// COLOR PALETTE

$primary-dark: #060606;
$primary-light: #fff;
$grey-light: #BFBFBF;
$grey-dark: #2D2C2C;

// ELEMENT VARIABLES
.light{
    --bg: #{$primary-light};
    --text-grey: #{$grey-dark};
    --text-dark: #{$primary-dark};
}

.dark{
    --bg: #{$primary-dark};
    --text-grey: #{$grey-light};
    --text-dark: #{$primary-light};
}

// BASIC CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}  

body{
    font-family: 'Poppins', 'Open Sans', 'Inconsolata';
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

a{  
    font-family: 'Inconsolata';
    color: currentColor;
    text-decoration: none;
    color: var(--text-dark);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins';
    color: var(--text-dark);
}

h1{
    font-size: 4rem;
    width: fit-content;
    background: linear-gradient(89.71deg, #FFCD5A 2.24%, #FF4D4D 39.97%, #9360FF 91.68%);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 2rem;
}
h2{
    font-size: 2.25rem;
    width: fit-content;
    background: linear-gradient(89.71deg, #FFCD5A 2.24%, #FF4D4D 39.97%, #9360FF 91.68%);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media only screen and (max-width: 500px){
        font-size: 1.5rem;
    }
}

h5{
    font-family: 'Inconsolata';
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: 400;

@media only screen and (max-width: 500px){
    font-size: 1.125rem;
}
}

p{
    font-family: 'Open Sans';
    font-size: 1.125rem;
    color: var(--text-grey);
    @media only screen and (max-width: 500px){
        font-size: 1rem;
    }
}

// BUTTON STYLES
.join-us{
    font-family: 'Inconsolata';
    font-size: 1.5rem;
    font-weight: 400;
    background: $primary-dark;
    border: 1.5px solid $primary-light;
    border-radius: .35rem;
    padding: .5rem 2rem;
    color: $primary-light;
}

.fill{
    font-family: 'Inconsolata';
    font-size: 1.5rem;
    font-weight: 400;
    background: $primary-light;
    border: 1.5px solid $primary-dark;
    border-radius: .35rem;
    padding: .5rem 2rem;
    color: $primary-dark;
}

#dark-toggle{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    filter: grayscale(100);
}

// PRELOADER BEGINS

.loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.hidden{
    display: none;
}
// PRELOADER ENDS

// NAVBAR BEGINS

#navbar-menu{
    width: 100%;
    height: 60px;
   
    position: fixed;
    background-color:var(--bg);
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    figure{
        img{
            padding: .5rem;
            object-fit: cover;
            height: 50px;
            width: 50px;
        }
    }
}
// NAVBAR ENDS

// LANDING BEGINS
#landing{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;

        button{
            width: fit-content;
            margin: 0 auto;
        }
    }
}
// LANDING ENDS

// CONTACT BEGINS
#contact{
    display: flex;
    justify-content: center;
    width: 100%;
   .container-main{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
        div{
           padding: 50px;
        }

        .img-container{
           flex: 1;
           left: 40px;
           padding-left: 350px;
           width: 50%;
          }

       .form-container{
              flex: 1;    
              padding-right: 500px;
              align-self: center;
              justify-content: center;    

          }  
          .form{
            border :none;

          }

            a{
              text-decoration :0;
              border: 2px;

              border-color: #fff;
            }
   }
} 

 .info-main{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     max-width: 1150px;
     //border: 1px solid white;
     margin: 0 auto;
        h3{
            font-size: 2.2rem;
        }
        .container-vis{
         padding-right: 160px;
         flex: 1;   
         line-height: 50px; 
        
        }
        .container-info{
        padding-top: 40px;
        flex: 1;
        .small-font{
              font-size: 1rem;
          }
        }
    }

/*swiper implementation*/

  
.swiper-container{
    background-color: var(--bg);
    color: var(--text-dark);
    height: 500px;
    width: 90%;
    margin: 0 auto;
    
    
    .swiper-slide{
        .overlay{
            width: 300px;
            height: 300px;
            border-radius: 10px;
            background-image: linear-gradient(to top, black 7%,transparent);
            position: absolute;
        }
        figure{
            position: relative;
        }
        h3{
            color: var(--text-dark);
            
            padding-top: 120px;
            padding-left:80px ;
            font-size: 1.5rem;
        }
        #project{
            color: var(--text-dark);
            
            padding-top: 120px;
            padding-left:100px ;
            font-size: 1.5rem;
        }
        img{
            border-radius: 10px;
            width: 300px;
            height: 300px;
        }
    
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-family: sans-serif;
    }
}
//swiper buttons visibility
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
    visibility: hidden;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    visibility: hidden;
}
.swiper-container-horizontal > .swiper-scrollbar {
    visibility: hidden;
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}
//swiper buttons visibility end

// MEET THE TEAM BEGINS
#meet-the-team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5rem 0rem;
    header{
        text-align: center;
        h2{
            margin: 0 auto;
        }
       
    }

    .team-carousel{
        width: 80%;
        padding: 1rem;
        margin: 2rem;
        display: flex;
        overflow-x: scroll;

        @media only screen  and (max-width:700px){
            width: 90%;
        }
       
        &::-webkit-scrollbar{
            width: .75rem;
            height: .75rem;
        }

        &::-webkit-scrollbar-thumb{
            background-color: #1a1a1a;
            border-radius: .5rem;
            box-shadow: inset 2px 2px 2px #2d2c2c5d, inset 2px 2px 2px #5a5a5a5d;
        }

        &::-webkit-scrollbar-track{
            background: linear-gradient(90deg, #060606,);
        }
        .team-card{
            height: 425px;
            width: 300px;
            position: relative;
            border-radius: 1rem;
            transition: 200ms ease-in-out;
           
            box-shadow: -1rem 0 3rem #000000 ;

            &:hover{
                transform: translateY(-1.5rem);
                // .team-overlay{
                //     background: black;
                    
                // }
            }
            &:hover~.team-card{
                transform: translateX(100px);
            }

            &:not(:first-child){
                margin-left: -100px;
            }
                img{
                    height: 425px;
                    width: 300px;
                    border-radius: 1rem;
                }
                
                .team-overlay{
                    width: 100%;
                    height: 100%;
                    background: linear-gradient( 360deg, $primary-dark, rgba(255, 255, 255, 0));
                    position: absolute;
                    top: 0px;
                    border-radius: 1rem;
                    transition: 300ms ease-in;
                    transform-origin: bottom;

                    header{
                        position: absolute;
                        bottom: 0.5rem;
                        left: 50%;
                        transform: translate(-50%);
                        h3{
                            color: $primary-light;
                           
                        }
                        small{
                            color: $grey-light;
                            font-family: "Open sans";
                        }
                    }
                }
        }
    }
    .team-links{
        display: flex;
        width: 40%;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1rem;

        button{
            margin-bottom: 1rem;
        }
        @media only screen and (max-width: 1100px ) {
            width: 80%;
        }
    }
}


// MEET THE TEAM ENDS

// PARTNERS PAGE BEGINS
#partners{
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    margin: 10rem auto;
    max-width: 1400px;

    @media only screen and (max-width:900px) {
        grid-template-columns:  1fr;
    }
    .partner-images{
        @media only screen and (max-width:900px) {
            display: none;
        }
        img{
            width: 350px;
            height: 175px;
        }
    }

    .partner-info{
        
        padding: 2rem;
        
        .join-us{
            margin-top: 2rem;
        }
    }
}
// PARTNERS PAGE ENDS
