.light {
  --bg: #fff;
  --text-grey: #2D2C2C;
  --text-dark: #060606;
  --bg-secondary: #ececec;
  --swiper-theme-color: rgb(0, 0, 0) !important;
}

.dark {
  --bg-secondary: #1f1f1f;
  --bg: #060606;
  --text-grey: #BFBFBF;
  --text-dark: #fff;
  --swiper-theme-color: #fff !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'Open Sans', 'Inconsolata';
  background: var(--bg);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

a {
  font-family: 'Inconsolata';
  color: currentColor;
  text-decoration: none;
  color: var(--text-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
  color: var(--text-dark);
}

h1 {
  font-size: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(89.71deg, #FFCD5A 2.24%, #FF4D4D 39.97%, #9360FF 91.68%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 525px) {
  h1 {
    font-size: 2.8rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}

h2 {
  font-size: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(89.71deg, #FFCD5A 2.24%, #FF4D4D 39.97%, #9360FF 91.68%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.8rem;
}

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 1.45rem;
  }
}

h4 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  h4 {
    font-size: 1.45rem;
  }
}

small {
  font-family: 'Inconsolata';
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  small {
    font-size: 1.125rem;
  }
}

h5 {
  font-family: 'Inconsolata';
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  h5 {
    font-size: 1.125rem;
  }
}

p {
  font-family: 'Open Sans';
  font-size: 1.125rem;
  color: var(--text-grey);
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 1rem;
  }
}

.join-us {
  font-family: 'Inconsolata';
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 400;
  background: #060606;
  border: 1.5px solid #fff;
  border-radius: .35rem;
  padding: .5rem 2rem;
  color: #fff;
}

.fill {
  font-family: 'Inconsolata';
  font-size: 1.5rem;
  font-weight: 400;
  background: #fff;
  border: 1.5px solid #060606;
  border-radius: .35rem;
  padding: .5rem 2rem;
  color: #060606;
}

#dark-toggle {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .evolution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.loader .evolution svg {
  opacity: 0;
}

.loader .evolution svg:nth-child(1) {
  -webkit-animation: evolve .8s  ease-in-out;
          animation: evolve .8s  ease-in-out;
}

.loader .evolution svg:nth-child(2) {
  -webkit-animation: evolve .7s  ease-in-out;
          animation: evolve .7s  ease-in-out;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.loader .evolution svg:nth-child(3) {
  -webkit-animation: evolve .6s  ease-in-out;
          animation: evolve .6s  ease-in-out;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.loader .evolution svg:nth-child(4) {
  -webkit-animation: evolve .5s  ease-in-out;
          animation: evolve .5s  ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.loader .evolution svg:nth-child(5) {
  -webkit-animation: evolve .4s  ease-in-out;
          animation: evolve .4s  ease-in-out;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.loader .evolution svg:nth-child(6) {
  -webkit-animation: evolve .3s  ease-in-out;
          animation: evolve .3s  ease-in-out;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@media only screen and (max-width: 800px) {
  .loader .evolution svg {
    width: 50px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .loader .evolution svg:nth-child(2) {
    height: 70px;
  }
  .loader .evolution svg:nth-child(3) {
    height: 90px;
  }
  .loader .evolution svg:nth-child(5) {
    height: 130px;
  }
  .loader .evolution svg:nth-child(6) {
    display: none;
  }
}

@-webkit-keyframes evolve {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes evolve {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loaded {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#navbar-menu {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

#navbar-menu figure svg {
  padding: 1rem;
  height: 70px;
  width: 70px;
  stroke: var(--text-dark) !important;
}

#navbar-menu .on-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#landing {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing .header a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#contact, #contact-mentor, #contact-partner, #contact-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0rem;
}

#contact .container-main, #contact-mentor .container-main, #contact-partner .container-main, #contact-team .container-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1250px;
  margin: 5rem 0rem;
}

#contact .container-main .img-container, #contact-mentor .container-main .img-container, #contact-partner .container-main .img-container, #contact-team .container-main .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

#contact .container-main .img-container svg, #contact-mentor .container-main .img-container svg, #contact-partner .container-main .img-container svg, #contact-team .container-main .img-container svg {
  fill: var(--text-dark);
}

@media only screen and (max-width: 650px) {
  #contact .container-main .img-container, #contact-mentor .container-main .img-container, #contact-partner .container-main .img-container, #contact-team .container-main .img-container {
    display: none;
  }
}

.form-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 650px;
}

@media only screen and (max-width: 650px) {
  .form-container {
    max-width: 300px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.form-container h3 {
  padding-bottom: 2rem;
}

.form-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-container .form input {
  font-family: 'Inconsolata';
  font-size: 1.25rem;
  color: var(--text-grey);
  background-color: var(--bg);
  border: none;
  border-bottom: 2px solid var(--text-dark);
  min-width: 300px;
  margin-right: 1rem;
  margin-bottom: 5rem;
  padding: .5rem 0rem;
  outline: none;
}

@media only screen and (max-width: 650px) {
  .form-container .form input {
    margin-bottom: 3rem;
  }
}

.form-container .form input.long {
  min-width: 616px;
}

@media only screen and (max-width: 650px) {
  .form-container .form input.long {
    min-width: 300px;
    margin-bottom: 5rem;
  }
}

.form-container .join-us {
  font-size: 1.25rem;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0rem 2rem;
}

@media only screen and (max-width: 800px) {
  .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-container .about-info p:last-child {
    display: none;
  }
}

/*swiper implementation*/
.swiper-container {
  height: 300px;
  max-width: 1300px;
  margin: 5rem auto;
}

@media only screen and (max-width: 500px) {
  .swiper-container {
    margin: 2rem auto;
  }
}

.swiper-container .swiper-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.swiper-container .swiper-slide figure img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  opacity: .8;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container .swiper-slide .overlay {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#060606), to(transparent));
  background-image: linear-gradient(to top, #060606, transparent);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-slide .overlay a {
  font-family: 'Poppins';
  font-size: 1.5rem;
  color: #fff;
}

.swiper-container .swiper-slide:hover img {
  opacity: 1;
}

.swiper-pagination {
  -webkit-transform: translateY(1rem) !important;
          transform: translateY(1rem) !important;
}

@media only screen and (min-width: 1100px) {
  .swiper-pagination {
    display: none;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--text-dark) !important;
  visibility: visible;
}

#about-us {
  margin-bottom: 3rem;
}

#about-us .team-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
}

#meet-the-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 5rem 0rem;
}

#meet-the-team header {
  text-align: center;
}

#meet-the-team header h2 {
  margin: 0 auto;
}

#meet-the-team .team-carousel {
  width: 80%;
  padding: 4rem 2rem 4rem 2rem;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

@media only screen and (max-width: 700px) {
  #meet-the-team .team-carousel {
    width: 90%;
  }
}

#meet-the-team .team-carousel::-webkit-scrollbar {
  width: .55rem;
  height: .45rem;
}

#meet-the-team .team-carousel::-webkit-scrollbar-thumb {
  background-color: var(--text-grey);
  border-radius: .5rem;
  -webkit-box-shadow: inset 2px 2px 2px var(--text-dark), inset 2px 2px 2px var(--text-grey);
          box-shadow: inset 2px 2px 2px var(--text-dark), inset 2px 2px 2px var(--text-grey);
}

#meet-the-team .team-carousel::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, right top, from(var(--bg)));
  background: linear-gradient(90deg, var(--bg));
}

#meet-the-team .team-carousel .team-card {
  height: 425px;
  width: 300px;
  position: relative;
  border-radius: 1rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: -1rem 0 3rem #000000;
          box-shadow: -1rem 0 3rem #000000;
}

#meet-the-team .team-carousel .team-card:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

#meet-the-team .team-carousel .team-card:hover ~ .team-card {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

#meet-the-team .team-carousel .team-card:not(:first-child) {
  margin-left: -100px;
}

#meet-the-team .team-carousel .team-card img {
  height: 425px;
  width: 300px;
  border-radius: 1rem;
}

#meet-the-team .team-carousel .team-card .team-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#060606), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(360deg, #060606, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0px;
  border-radius: 1rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#meet-the-team .team-carousel .team-card .team-overlay header {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#meet-the-team .team-carousel .team-card .team-overlay header h4 {
  color: #fff;
}

#meet-the-team .team-carousel .team-card .team-overlay header small {
  color: #BFBFBF;
  font-family: "Inconsolata";
}

#meet-the-team .team-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

#meet-the-team .team-links a {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1100px) {
  #meet-the-team .team-links {
    width: 80%;
  }
}

#partners {
  background: var(--bg-secondary) !important;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  padding: 6rem 0rem;
}

#partners .partner-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1.25fr 1fr;
      grid-template-columns: 1.25fr 1fr;
  margin: 0 auto;
  max-width: 1400px;
  padding: 3rem 0rem;
}

@media only screen and (max-width: 900px) {
  #partners .partner-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#partners .partner-container .partner-images {
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  #partners .partner-container .partner-images {
    display: none;
  }
}

#partners .partner-container .partner-images img {
  width: 325px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1250px) {
  #partners .partner-container .partner-images img {
    width: 250px;
    height: 175px;
  }
}

#partners .partner-container .partner-info {
  padding: 2rem;
}

#partners .partner-container .partner-info .team-links {
  margin-top: 2rem;
}

footer {
  display: -ms-grid;
  display: grid;
  padding: 3rem 2rem;
  background-color: #13141D;
  -ms-grid-columns: 1fr 1fr .5fr 1fr;
      grid-template-columns: 1fr 1fr .5fr 1fr;
}

@media only screen and (max-width: 1000px) {
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 2rem 1rem;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer a {
  font-size: 1.125rem;
  line-height: 2;
  color: #BFBFBF;
}

footer p {
  font-family: 'Inconsolata';
  font-size: 1.125rem;
  line-height: 2.5;
  color: #BFBFBF;
}

footer ul {
  list-style-type: none;
  color: #BFBFBF;
  font-family: 'Inconsolata';
  font-size: 1.125rem;
  line-height: 2rem;
}

footer ul li:hover, footer ul a:hover, footer ul svg:hover {
  color: #f0e9ff;
  cursor: pointer;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

footer h3 {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-logo h3 {
  font-size: 1.5rem;
}

footer .footer-logo svg {
  padding: 1rem;
  height: 70px;
  width: 70px;
  stroke: #fff !important;
  -webkit-transform: translateY(-0.45rem);
          transform: translateY(-0.45rem);
}

footer .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-socials svg {
  margin: .5rem;
  margin-left: 0;
  fill: white;
}

footer .footer-socials svg:hover {
  fill: #ece3ff;
}

#landing-join {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing-join .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#landing-join .header h1 {
  width: 55%;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 650px) {
  #landing-join .header h1 {
    width: 100%;
  }
}

#landing-join .header .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 650px) {
  #landing-join .header .form-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#landing-join .header .form-btn a {
  margin: 1.5rem 2rem;
}

.bg-modal, .bg-modal2, .bg-modal3 {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--bg);
  position: absolute;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  margin-bottom: 3rem;
}

.bg-modal .modal-content, .bg-modal2 .modal-content, .bg-modal3 .modal-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 350px;
  background-color: var(--bg);
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.bg-modal .close, .bg-modal2 .close, .bg-modal3 .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.bg-modal #contact-mentor {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1000px) {
  .bg-modal #contact-mentor .img-container {
    display: none;
  }
}

.bg-modal2 #contact-partner {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1000px) {
  .bg-modal2 #contact-partner .img-container {
    display: none;
  }
}

.bg-modal3 #contact-team {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1000px) {
  .bg-modal3 #contact-team .img-container {
    display: none;
  }
}

.show-form {
  visibility: visible;
}

body::-webkit-scrollbar {
  margin-top: 70px;
  width: .5rem;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180.71deg, #FFCD5A 2.24%, #FF4D4D 39.97%, #9360FF 91.68%);
  border-radius: .5rem;
}

#partners-section {
  background: var(--bg) !important;
  margin-bottom: 2rem;
}

#partners-section .partner-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1.55fr auto;
      grid-template-columns: 1.55fr auto;
  margin: 0 auto;
  max-width: 1300px;
  padding: 3rem 0rem;
  border-bottom: var(--text-grey) 0.5px solid;
  background: var(--bg) !important;
}

@media only screen and (max-width: 600px) {
  #partners-section .partner-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#partners-section .partner-container .partner-images {
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  #partners-section .partner-container .partner-images {
    display: none;
  }
}

#partners-section .partner-container .partner-images img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1250px) {
  #partners-section .partner-container .partner-images img {
    width: 200px;
    height: 200px;
  }
}

#partners-section .partner-container .partner-info {
  padding: 2rem;
}

#partners-section .partner-container .partner-info h2 {
  font-size: rem;
}

#partners-section .partner-container .partner-info .team-links {
  margin-top: 2rem;
}

#faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

#faq article {
  margin-bottom: 5rem;
  padding: 1rem;
}

.dev-container {
  background-color: #13141D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .dev-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

a.developer {
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

a.developer:hover {
  opacity: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(89.71deg, #FFCD5A 2.24%, #FF4D4D 39.97%, #9360FF 91.68%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.googleForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

@media only screen and (max-width: 650px) {
  .googleForm iframe {
    width: 350px !important;
    height: 2500px !important;
  }
}

h3.teamText {
  font-family: inconsolata;
  font-weight: 400;
}

#Events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem auto;
  max-width: 1200px;
}

#Events header {
  margin: 3rem auto;
  text-align: center;
}

#Events header h2 {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  #Events header {
    margin: 2rem 2rem;
  }
}

#Events .eventInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.25px var(--text-grey) solid;
  border-radius: .65rem;
  padding: 1rem;
}

#Events .eventInfo a {
  font-family: 'Poppins';
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
  font-size: 1.4rem;
}

#Events .eventInfo a:hover {
  color: rgba(60, 255, 60, 0.883);
}

#Events .eventInfo .date {
  font-family: 'inconsolata';
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--text-grey);
  padding-top: 1rem;
}

#Events .eventInfo figure {
  margin: 0rem auto 1rem auto;
}

#Events .eventInfo figure img {
  border-radius: .65rem;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0;
     object-position: 0;
}

@media only screen and (max-width: 600px) {
  #Events .eventInfo figure img {
    height: 240px;
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  #Events .eventInfo {
    margin: 1rem 2rem;
  }
}

#Events .event-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0rem 6rem;
}

#AboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto;
  max-width: 1250px;
}

.igfeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  max-width: 1300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.igfeed h2 {
  margin: 1rem auto;
}

.igfeed .igposts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */